.Writeup {
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size: 1.5em;
    /* position: relative; */
}
.Project-Summary {
    /* position: relative; */
    width: 100%;z-index: 1;
    backdrop-filter: blur(4px);
    position: sticky;
    top: 5px;
}

.projSummary {
    position: flex;
    flex-direction: column;
}

.link-1{
    font-size: 1.5em;
}

.Gallery {
    margin-top: 25px;
    font-size: 2em;
    padding-left: 20px;
    color: #00ffff !important;
}